rxSwiftPractice.xcodeproj/project.xcworkspace/xcuserdata/howlfu.xcuserdatad/UserInterfaceState.xcuserstate
rxSwiftPractice.xcodeproj/xcuserdata/howlfu.xcuserdatad/xcschemes/xcschememanagement.plist
rxSwiftPractice.xcodeproj/xcuserdata/howlfu.xcuserdatad/xcdebugger/*
*.DS_Store
